#header {
  width: 100%;
  height: 85vh;
  background-image: url(../assets/images/DesktopBackground.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.container {
  padding: 10px 10%;
}

/* ---------------css for small screens----------- */

/* css for medium-big screens */
@media only screen and (max-width: 1190px) {
  #header {
    background-image: url(../assets/images/MobileBackground.png);
  }
}
/* css for medium screens */
@media only screen and (max-width: 985px) {
  #header {
    background-position: 100% 90%;
  }
  .container {
    padding: 2%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    position: relative;
}
}