.sub-title {
  display: flex;
  justify-content: center;
}

.btn.btn2 {
  display: flex;
  justify-content: center;
  background: #ff004f;
}
/* .image-container {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
} */

/* .resume-image {
  max-width: 49.8%;
  height: auto;
} */
/* Media Queries */
@media screen and (max-width: 630px) {
  h1.sub-title {
    font-size: 35px;
  }
}