* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: #000000;
  color: #fff;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/* ---------------css for small screens----------- */
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(src/assets/images/MobileBackground.png);
    background-size: 600px;
  }
  .header-text {
    margin-top: 0; /* <-- Fix here */
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
}
